@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('../../assets/font/fontawesome-free-6.5.1-web/css/all.min.css');
@import "grid.scss";

:root {
    --primary-color: #f81919;
    --text-color: #333;
    --white-color: #fff;

    --header-height: 150px;
    --navbar-height: 34px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}   

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.container {
}

.btn {
    min-width: 90px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    background-color: var(--white-color);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    cursor: default;
    color: #999;
    background-color: #888;
}

.btn.btn--size-s {
    height: 30px;
    font-size: 12px;
    padding: 0 8px;
}