.cartpage {
    background-color: #fafafa;
}

.cartpage-head {
    padding: 20px 0;
}

.cartpage-table {
    width: 100%;
    text-align: center;
    background-color: white;

    th {
        padding: 20px 0;
        font-size: 14px;
        text-transform: uppercase;
        color: #333;
        border-collapse: collapse;
        border-radius: 3px;
    }

    th,
    td {
        &:nth-child(1) {
            width: 5%;
        }

        &:nth-child(2) {
            width: 10%;
        }

        &:nth-child(3) {
            width: 20%;
        }

        &:nth-child(4) {
            width: 20%;
        }

        &:nth-child(5) {
            width: 20%;
        }
    }

    td {
        padding: 20px 0;

        img {
            width: 10%;
            border-radius: 3px;
        }
    }
}




.cartpage-content-left table td:nth-child(2),
.cartpage-content-left table td:nth-child(3) {
    max-width: 130px;
    padding: 0 16px;
}

.cartpage-content-left table p {
    font-size: 14px;
    color: var(--text-color);
}

.cartpage-content-left table input {
    width: 30px;
}

.cartpage-content-left table span {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0 16px;
}

.cartpage-content-left table span:hover {
    color: var(--primary-color);
}