@mixin header-small-device {
    :root {
        --header-height: 70px !important;
    }

    .navbar,
    .menu,
    .phone {
        display: none;
    }

    .hamburger-open {
        height: 100%;

        i {
            font-size: 2.8rem;
            color: var(--white-color);
        }
    }

    .hamburger-menu-wrapper {
        position: fixed;
        width: 300px;
        background-color: #ffffff;
        height: 100%;
        overflow-y: auto;
        z-index: -999;
        padding: 30px;
        padding-top: 50px;
        opacity: 0;
        display: block;
        transition: all 0.6s;

        &.show {
            opacity: 1;
            z-index: 999;
        }
    }

    .hamburger-menu-overlay {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        visibility: hidden;
        transition: all 0.2s;

        &.active {
            visibility: visible !important;
        }
    }

    .hamburger-menu-cart {
        margin-top: 20px;
        display: flex;

        .cart-price {
            font-size: 16px;
            color: #6f6f6f;

            span {
                font-weight: 700;
                color: var(--text-color)
            }
        }

        ul {
            list-style: none;
            display: inline-block;
            margin-right: 15px;

            li {
                position: relative;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 18px;
                    color: var(--text-color);

                    span {
                        color: var(--white-color);
                        background-color: var(--primary-color);
                        height: 20px;
                        left: 10px;
                        top: -10px;
                        border-radius: 40px;
                        display: inline-block;
                        text-align: center;
                        line-height: 20px;
                        font-size: 13px;
                        position: absolute;
                        padding: 0 7px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .hamburger-menu-widget {
        margin: 20px 0;

        .auth {
            a {
                display: block;
                font-size: 16px;
                color: var(--text-color);
                text-decoration: none;
            }

            i {
                font-size: 16px;
                padding-left: 5px;
                margin-right: 10px;
            }
        }
    }

    .hamburger-menu-nav {
        margin-bottom: 20px;

        ul {
            list-style: none;

            li {
                padding: 8px 0;
                border-bottom: 1px solid #e1e1e1;

                a {
                    color: var(--text-color);
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;

                    i {
                        vertical-align: middle;
                        padding-left: 5px;
                    }
                }
            }
        }

        .menu-dropdown {
            display: none;
            padding: 5px 0;

            li {
                margin-left: 10px;
                display: block;
                margin-right: 0;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .show-submenu {
            display: block;
        }
    }

    .hamburger-menu-social {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;


        a {
            font-size: 14px;
            display: inline-block;
            color: var(--text-color);
            margin-right: 20px;

            i {
                font-size: 20px;
            }
        }
    }

    .hamburger-menu-contact {
        ul li {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            color: var(--text-color);
        }
    }
}