.product-detail-pic {
    display: flex;
    column-gap: 10px;

    .img {
        flex: 0 0 65%;
        object-fit: cover;
    }

    .main {
        flex: 0 0 35%;
        display: grid;
        align-items: stretch;

        img {
            width: 60%;
            object-fit: cover;

            &:not(:first-child) {
                padding-top: 5px;
            }
        }
    }
}

.product-detail-text {
    h2 {
        color: #252525;
        font-weight: 700;
    }

    .seen-icon {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 30px;
        column-gap: 5px;
    }

    p {
        margin: 10px 0;
        line-height: 25px;

    }

    ul {
        margin: 20px 0;
        border-top: 1px solid #ebebeb;
        padding-top: 20px;

        li {
            list-style: none;
            display: flex;
            column-gap: 20px;
            line-height: 35px;

            b {
                width: 150px;
            }

            span {
                display: flex;
                column-gap: 10px;
                align-items: center;

                i {
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}