.breadcrumb {
    display: flex;
    align-items: center;
    padding: 45px 0 40px;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    background-color: #f5f5f5;

    .breadcrumb-text {
        h2 {
            margin-bottom: 10px;
        }
        
        ul {
            display: flex;
            list-style: none;
            column-gap: 10px;

            li {
                text-decoration: underline;
                color: var(--primary-color);

                a {
                    text-decoration: none;
                    color: black;
                }

                &.link {
                    text-decoration: none;
                    :hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}